

.navbar {
    background-color: #333333;
}

a {
    color:red;
}

a:hover {
    color: red;
  }
  
h1 {
    
    margin: 0 auto;
    background: gray;
    text-align: center;
}

h3 {
    
    margin: 0 auto;
    background:white;
    text-align: center;
}